/* 부트스트랩 ToggleButton 에 ToggleButton 이라는 이름으로 클래스를 부여하고 
  hover 가 발생하면 아래의 css 가 적용 되도록 설정
  단, 부트 스트랩은 !important 가 없으면 css 가 적용이 안되므로 !important 추가 */
/* .ToggleButton {
  background-color: rgb(52, 164, 181, 0.5) !important;
} */

.ToggleButton:hover {
  background-color: #0dcaf0 !important;
  color: white !important;
}

.ToggleButton.active {
  background-color: #0dcaf0 !important;
}

.btn.active {
  background-color: #0dcaf0 !important;
  color: white !important;
}
