.ImageListItemBar-tittle {
  background-color: black !important;
  font-size: "0.1rem" !important;
  color: black !important;
  /* will-change:transform;animation: marquee 60s linear infinite; }
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
  @media (hover: hover) and (min-width: 700px){
  .animated-title .content {-webkit-transform: translateY(calc(100% - 8rem)); transform: translateY(calc(100% - 8rem));}
      } */
}

.MuiImageListItemBar-title {
  font-size: "0.5rem" !important;
}

.css-hk6gwf-MuiImageListItemBar-subtitle {
  font-size: "0.2rem";
}
