.mou_container {
  width: 31%;
  border: 2px solid rgb(17, 167, 176, 0.7);
  padding: 0rem;
  margin: 0.1rem;
}

.mou_underbox {
  background-color: rgb(17, 167, 176, 0.6);
  color: #fff;
  width: 100%;
  padding: 0.5rem;
}
